# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# Environment files
.env

# VSCode settings
.vscode/

# Streamlit
.streamlit/config.toml
